
<div class="navbar-fixed-bottom mt-5">
                <div class="col-12">
                    <div class="row">
                        <div class="mx-auto col-4 text-center">
                            <a class="text-decoration-none text-secondary" href="https://github.com/"><i class="fa-brands fa-github"></i> Github</a>
                        </div>
                         <div class="col-4 text-center">
                             <a class="text-decoration-none text-secondary" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i> Facebook</a>
                        </div>
                         <div class="mx-auto col-4 text-center">
                             <a class="text-decoration-none text-secondary" href="mailto:test@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i> Contact </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mb-2 mt-2 text-center text-secondary">
                           © 2022 Copyright Siny
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>