{% load static %}
<script>
    const $dropdown = $(".dropdown");
const $dropdownToggle = $(".dropdown-toggle");
const $dropdownMenu = $(".dropdown-menu");
const showClass = "show";

$(window).on("load resize", function() {
  if (this.matchMedia("(min-width: 768px)").matches) {
    $dropdown.hover(
      function() {
        const $this = $(this);
        $this.addClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "true");
        $this.find($dropdownMenu).addClass(showClass);
      },
      function() {
        const $this = $(this);
        $this.removeClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "false");
        $this.find($dropdownMenu).removeClass(showClass);
      }
    );
  } else {
    $dropdown.off("mouseenter mouseleave");
  }
});
</script>
<style>

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="z-index: 2000;border-bottom: solid 2px #e1e6ed;">
    <div class="container">
        <a href="#"><img class="w-10 h-10 rounded text-center" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav ml-auto" style="font-size: 2rem;">

                <li class="nav-item ml-lg-2 mt-lg-2" >
                    <a href="#"><i class="fa-solid fa-fw fa-house-user mt-1 text-primary bg-light"></i></a>
                </li>
                <li class="nav-item ml-lg-2 mt-lg-2" style="margin-top:2px">
                    <a href="#"><i class="fa-solid fa-fw fa-compass mt-1 text-primary bg-light"></i></a>
                </li>
                 <li class="nav-item ml-lg-2 mt-lg-2" style="font-size: 2.21rem;">
                     <a href="#"><i class="fa-solid fa-fw fa-location-arrow mt-1 text-primary bg-light"></i></a>
                </li>
                 <li class="nav-item ml-lg-2">
                
                </li>
                    <li class="nav-item dropdown ml-lg-2">
                    <a class="nav-link dropdown-toggle p-lg-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"> <img class="avatar avatar-32 bg-light rounded-circle bg-primary text-white" src="{{ get_avatar }}"></a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                          <a class="dropdown-item" href="#">{{ user.username }}</a>
                          <hr>
                        <a class="dropdown-item" href="{% url 'accounts:user_profile' user.profile.username_slug %}"><i class="fa-solid fa-user text-primary"></i>プロファイル</a>
                        <a class="dropdown-item" href="{% url 'accounts:edit_profile' user.pk %}"><i class="fa-solid fa-pen-to-square text-primary"></i>プロファイルの編集</a>
                          <a class="dropdown-item" href="{% url 'posts:create_post' %}"><i class="fa-solid fa-square-plus text-primary"></i> 投稿する</a>
                        <div class="dropdown-divider"></div>
                         <a class="dropdown-item text-primary" href="{% url 'accounts:logout' %}"><i class="fa-solid fa-power-off"></i>ログアウト</a>
                      </div>

    </ul>
      <form action="#" class="search mt-2 form-inline my-2 my-lg-0 ml-lg-3" method="get">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="Search" name="keyword">
          <button class="btn btn-primary my-2 my-sm-0 submit" type="submit">検索</button>
    </form>
  </div>
</div>
    </nav>
