{% extends 'base.html' %}
{% block content %}
{% include 'includes/navbar.html' %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-12 mt-5">{% include 'includes/alerts.html' %}</div>
    </div>
    <div class="row mt-2"></div>
    <div class="row mt-5">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-7 col-sm-12 p-0">
            <div class="card p-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8">
                            <a class="text-decoration-none"
                                href="{% url 'accounts:user_profile' post.owner.profile.username_slug %}">
                                <img class="avatar avatar-32 bg-light rounded-circle text-white"
                                    src="{{ post.owner.profile.profile_picture.url }}">
                                <h4 class="card-title d-inline-block ml-2">{{ post.owner.username}}</h4>
                            </a>

                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <p>{{ post.created_at }}</p>
                        </div>
                    </div>
                    <img src="{{ post.photo.url }}" class="w-100 h-100 mx-auto d-block rounded"
                        style="height: 40rem; width: 40rem" alt="Post Photo">
                    {% if post in posts_liked %}
                    <a href="{% url 'posts:like_post' post.id %}"><i
                            class="fa-solid fa-heart fa-2x text-danger mt-1"></i></a>
                    {% else %}
                    <a href="{% url 'posts:like_post' post.id %}"><i
                            class="fa-regular fa-heart fa-2x text-primary mt-1"></i></a>
                    {% endif %}
                    <a href="{% url 'posts:single_post' post.id %}"><i
                            class="fa-regular fa-comment fa-2x text-primary ml-2 mt-1"></i></a>
                    <p>いいね: {{ post.post_likes }}</p>

                    <h3 class="card-text"><a class="text-decoration-none"
                            href="{% url 'accounts:user_profile' post.owner.profile.username_slug %}">
                            {{post.owner.username}}</a></h3>
                    <small>{{ post.description}}</small>
                    <hr>
                    <h4>コメント</h4>
                    {% for comment in comments %}
                    <div class="row">
                        <a class="text-decoration-none"
                            href="{% url 'accounts:user_profile' comment.user.profile.username_slug %}">
                            <img class="avatar avatar-32 bg-light rounded-circle text-white"
                                src="{{ comment.user.profile.profile_picture.url }}"></a>
                        <small class="card-title d-inline-block"><p><span><b>{{ comment.user }}</b></span>: {{ comment.created_at }}</p>
                            {{comment.content |linebreaksbr}}</small><span><small class="ml-2"></small></span>
                            <!-- Start 自分のコメントの場合削除アイコンを表示-->
                            {% if comment.user.pk == user_profile.user.pk %}
                            <div class="row">
                                <div class="col-12 text-right">
                                    <span>
                                      <a class="m-1" href="{% url 'posts:delete_comment' comment.pk %}"><i class="fa-solid fa-trash-can text-primary mb-4"></i></a>
                                    </span>
                                </div>
                            </div>
                            {% endif %}
                            <!-- End 自分のコメントの場合削除アイコンを表示-->
                    </div>
                    {% endfor %}
                    <div>
                        <form action="{% url 'posts:add_comment' post.id %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="row mt-4">
                                <a class="d-inline-block ml-3"
                                    href="{% url 'accounts:user_profile' user.profile.username_slug %}"> <img
                                        class="avatar avatar-32 bg-light rounded-circle bg-primary text-white d-inline-block"
                                        src="{{ get_avatar }}"></a>
                                <div class="d-inline-block ml-4">
                                    {{ field.errors }}
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <div class="d-inline-block ml-4">
                                    <button class="btn btn-submit btn-primary btn-block">コメントする</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-0"></div>
    </div>
</div>
</div>

{% endblock %}