<div class="row mt-5"></div>


<div class="row mt-5">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-7 col-sm-12 p-0">
        <div class="card p-0" style="width: 30rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <a class="text-decoration-none" href="/accounts/admin">
                            <img class="avatar avatar-32 bg-light rounded-circle text-white" src="">
                            <h4 class="card-title d-inline-block"></h4>
                        </a>

                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <p id="8">2022年6月12日18:39</p>
                    </div>
                </div>
                <a href="#">
                    <img src="/media/images/pikaso.jpg" class="w-100 h-100 rounded mx-auto d-block rounded"
                        style="height: 20rem; width: 40rem" alt="Post Photo">
                </a>

                <a href="#"><i class="fa-regular fa-heart fa-2x mt-1 text-primary"></i></a>

                <a href="#"><i class="fa-regular fa-comment fa-2x text-primary ml-2 mt-1"></i></a>
                <p>Likes: </p>
                <h3 class="card-text"><a class="text-decoration-none" href="/accounts/admin"></a></h3>
                <small>ピカソ！</small>

                <div>
                    <form action="#" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="4Wn39q7IajV36G34VHCaTySCRz3PZ3WjGV0eaU243SHlEMaxWmn0htEosefj0YOU">

                        <div class="d-inline-block ml-4">
                            <button class="btn btn-submit btn-primary btn-block">Comment</button>
                        </div>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-0"></div>
</div>

<div class="row mt-5">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-7 col-sm-12 p-0">
        <div class="card p-0" style="width: 30rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <a class="text-decoration-none" href="/accounts/admin">
                            <img class="avatar avatar-32 bg-light rounded-circle text-white" src="">
                            <h4 class="card-title d-inline-block"></h4>
                        </a>

                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <p id="7">2022年6月12日18:39</p>
                    </div>
                </div>
                <a href="#">
                    <img src="/media/images/Van_Gogh_-_Starry_Night.jpg"
                        class="w-100 h-100 rounded mx-auto d-block rounded" style="height: 20rem; width: 40rem"
                        alt="Post Photo">
                </a>

                <a href="#"><i class="fa-regular fa-heart fa-2x mt-1 text-primary"></i></a>

                <a href="#"><i class="fa-regular fa-comment fa-2x text-primary ml-2 mt-1"></i></a>
                <p>Likes: </p>
                <h3 class="card-text"><a class="text-decoration-none" href="/accounts/admin"></a></h3>
                <small>ああああああ</small>

                <div>
                    <form action="#" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="4Wn39q7IajV36G34VHCaTySCRz3PZ3WjGV0eaU243SHlEMaxWmn0htEosefj0YOU">

                        <div class="d-inline-block ml-4">
                            <button class="btn btn-submit btn-primary btn-block">Comment</button>
                        </div>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-0"></div>
</div>

<div class="row mt-5">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-7 col-sm-12 p-0">
        <div class="card p-0" style="width: 30rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <a class="text-decoration-none" href="/accounts/admin">
                            <img class="avatar avatar-32 bg-light rounded-circle text-white" src="">
                            <h4 class="card-title d-inline-block"></h4>
                        </a>

                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <p id="6">2022年6月12日18:39</p>
                    </div>
                </div>
                <a href="#">
                    <img src="/media/images/sample-1-4.png" class="w-100 h-100 rounded mx-auto d-block rounded"
                        style="height: 20rem; width: 40rem" alt="Post Photo">
                </a>

                <a href="#"><i class="fa-regular fa-heart fa-2x mt-1 text-primary"></i></a>

                <a href="#"><i class="fa-regular fa-comment fa-2x text-primary ml-2 mt-1"></i></a>
                <p>Likes: </p>
                <h3 class="card-text"><a class="text-decoration-none" href="/accounts/admin"></a></h3>
                <small>ああああああ</small>

                <div>
                    <form action="#" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="4Wn39q7IajV36G34VHCaTySCRz3PZ3WjGV0eaU243SHlEMaxWmn0htEosefj0YOU">

                        <div class="d-inline-block ml-4">
                            <button class="btn btn-submit btn-primary btn-block">Comment</button>
                        </div>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-0"></div>
</div>